USE `{{ _seed_mysql.database }}`;

{% if (_seed_config.accounts | length) > 0 %}
INSERT INTO `account` (`mail`, `home`, `passwd`)
VALUES
{% for account in _seed_config.accounts %}
  ('{{ account.mail }}', '{{ account.home }}', '{{ account.password }}'){% if not loop.last %},{% endif %}
{% endfor %}
;
{% endif %}

{% if ((_seed_config.aliases | length) + (_seed_config.accounts | length)) > 0 %}
INSERT INTO `alias` (`alias`, `mail`)
VALUES
{% for account in _seed_config.accounts %}
  ('{{ account.mail }}', '{{ account.mail }}'),
{% endfor %}
{% for alias in _seed_config.aliases %}
  ('{{ alias.from }}', '{{ alias.to }}'),
{% endfor %}
  ('postmaster@{{ _seed_config.virtual_domain }}', '{{ _seed_config.postmaster_address }}')
;
{% endif %}

INSERT INTO `domain` (`domain`)
VALUES
  ('{{ _seed_config.virtual_domain }}')
;

